body{
	background-color: #FFFFFF;
}

main{

}
#fonte01{
font-family: "Monotype Corsiva",arial;
color:#006400;
font-size: 40px;
}

#ft{
	text-align: center;
	margin-right:69px; 
}
 #menu{
font-family: Calibri;
font-size: 25px;
margin-left: 900px;

 }

 #menu {}

 }

 #f01{
 	font-family: Calibri;
 	color: #696969;
 	margin-top: 10px;
 	margin-bottom: 10px;
 	font-size: 20px;
 	text-align: left;
 }

 #f02{
 		width: 280px;
		padding: 5px;
		margin-left: 100px;
		margin-top:26px; 
		margin-bottom:10px;
        float: left; 
 	font-family: Calibri;
 	font-size: 20px;
 	color: #696969;
 }

 #f03{
 	width: 280px;
		padding: 5px;
		margin-left: 1px;
		margin-top:26px; 
		margin-bottom:10px;
        float: left; 
 	font-family: Calibri;
 	font-size: 20px;
 	color: #696969;
 }

 #f04{
 	width: 280px;
		padding: 5px;
		margin-left: 1px;
		margin-top:26px; 
		margin-bottom:10px;
        float: left; 
 	font-family: Calibri;
 	font-size: 20px;
 	color: #696969;
 }


 #f05{
 	width: 280px;
		padding: 5px;
		margin-left: 1px;
		margin-top:26px; 
		margin-bottom:10px;
        float: left;
        font-size: 20px; 
 	font-family: Calibri;
 	color: #696969;
 }
 #tr{
 	position: absolute;
 	background-color: rgba(0,0,0,0.5);
 	color: #fff;
 	text-align: center;
 	top: 250px;
 	width: 450px;
 	line-height: 30px;
 	height: 225px;
 	margin-left: 105px;
 	float: right;
 	font-size: 20px;
 }